@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    /* Font Utama */
    --font-sans: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";

    /* Skema Warna */
    --color-primary: #115e59;
    --color-primary-light: #14b8a6;
    --color-secondary: #f59e0b;
    --color-bg-color: #f8fafc;
    --color-text-main: #1e293b;
    --color-text-muted: #64748b;
    --color-border: #e2e8f0;
    --color-sidebar-bg: #0f172a;
    --color-sidebar-hover: #1e293b;
}
